{{> header }}
{{> navbar }}

<div class="row">
    <div class="col">
        <h1>Michifú al rescate</h1>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Similique aperiam dolores cum mollitia,
            animi quis ad ipsam repudiandae consectetur
            asperiores repellat, ducimus minus sed nobis
            porro assumenda nemo doloribus nesciunt.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/descarga.jpg" class="img-thumbnail" >
    </div>
</div>

{{> footer }}